alias :q="exit"
alias be="bundle exec"
alias cat="PAGER=none bat" # No pager, run bat
alias cp='cp -i'
alias extip="dig +short myip.opendns.com @resolver1.opendns.com"
alias fd='find . -type d -name'
alias ff='find . -type f -name'
alias getpw="jq '.details.fields[] | select(.designation==\"password\").value'"
alias gitup="git push --set-upstream origin"
alias grep='grep --color'
alias help='man'
alias ls="eza --long --header --git"
alias la="ls -A"
alias ldot='ls -ld .*'
alias ll="ls -la"
alias mkdir='mkdir -p'
alias mux='tmuxinator'
alias mv='mv -i'
alias pi="ssh pi@192.168.1.35"
alias port="sudo lsof -i"
alias rm='rm -i'
alias tf="terraform"
alias tg="terragrunt"
alias top="htop"
