alias :q="exit" # Exit the shell ala Vim
alias :so="source ~/.zshrc" # Source the Zsh Config
alias be="bundle exec" # Run a command with Bundler
alias cat="PAGER=none bat" # No pager, run bat
alias code="code --extensions-dir $HOME/.vscode/extensions --user-data-dir $HOME/Library/Application\ Support/VSCodium/User"
alias code="codium" # VSCodium
alias cp='cp -i' # Prompt before overwriting
alias dockerclean="docker rm -vf $(docker ps -aq); docker rmi -f $(docker images -aq); docker system prune -a --volumes;"
alias extip="dig +short myip.opendns.com @resolver1.opendns.com" # Get External IP
alias fd='find . -type d -name' # Find Directories
alias ff='find . -type f -name' # Find Files
alias getpw="jq '.details.fields[] | select(.designation==\"password\").value'" # Get Password from JSON
alias gitup="git push --set-upstream origin" # Push to Origin
alias grep='grep --color' # Colorize grep
alias help='man' # Man pages
alias hub="gh" # GitHub CLI instead of hub
alias json="jnv" # JSON Viewer
alias la="ls -A" # List All
alias ldot='ls -ld .*' # List Dot Files
alias ll="ls -la" # List Long
alias ls="eza --long --header --git" # Enhanced ls
alias mkdir='mkdir -p' # Make Directories along path
alias mux='tmuxinator' # Tmuxinator
alias mv='mv -i' # Prompt before overwriting
alias open='open -a "ForkLift"' # Open in ForkLift instead of Finder
alias pi="ssh pi@192.168.1.35" # SSH into PiHole
alias port="sudo lsof -i" # See pids for a port running
alias rm='rm -i' # Prompt before removing
alias tf="terraform" # Terraform
alias tg="terragrunt" # Terragrunt
alias top="htop" # use htop instead of top
alias vscode="codium" # VSCodium
