export DISABLE_AUTO_TITLE=true
export SYSTEM_NAME=$(scutil --get ComputerName) # Name of the System
export AWS_REGION=us-east-1 # Default AWS Region
export BASE16_SHELL=$HOME/.config/base16-shell/ # Base16 Shell
export BROWSER='/usr/bin/open -a "/Applications/Brave Browser.app"' # Default Browser
export COMPLETION_WAITING_DOTS="true" # Show completion dots
export CURL_CA_BUNDLE=$HOME/.certs/cacert.pem # Path to CA Certs
export EDITOR="$VISUAL" # Default Editor
export GOROOT=/usr/local/Cellar/go/1.22.0/libexec/ # Path to Go
export GOPATH=$HOME/Code/go # Path to Go Projects
export HOMEBREW_NO_ENV_HINTS=1 # Turn off environment hints with Homebrew commands
export LANG=en_US.UTF-8 # Default Language
export MANPAGER=$PAGER # Man Pager
export PAGER=less # Default Pager
export PNPM_HOME=$HOME/Library/pnpm # Path to pnpm
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock # SSH Auth Socket
export TERMINAL=iTerm2 # Default Terminal
export VISUAL=$(which vim) # Default Visual Editor
export YAMLLINT_CONFIG_FILE=$HOME/.yamllint # Path to yamllint config file
export ZSH=$HOME/.oh-my-zsh # Path to Oh My Zsh
export ZSH_CUSTOM=$HOME/.zsh # Path to Zsh Custom
export ZSH_DISABLE_COMPFIX=true # Disable compfix
export VSCODE_EXTENSIONS="$HOME/Library/Application\ Support/VSCodium/User/extensions.json" # Path to VSCode Extensions
