bash/.private_exports
tmux/.tmux/plugins/*
vim/.vim/bundle/*
!vim/.vim/bundle/.gitkeep
vim/.vim/undodir/*
!vim/.vim/undodir/.gitkeep
vim/.vim/.netrwhist
!vim/.vim/view/.gitkeep
vim/.vim/view/*
zsh/.oh-my-zsh
.netrwhist

ranger/.config/ranger/colorschemes/__pycache__/
ranger/.config/ranger/plugins/__pycache__/
