@banno:registry=https://artifactory.banno-tools.com/artifactory/api/npm/npm/
@jack-henry:registry=https://artifactory.banno-tools.com/artifactory/api/npm/npm/
//artifactory.banno-tools.com/artifactory/api/npm/npm/:_authToken=${ARTIFACTORY_TOKEN}
//artifactory.banno-tools.com/artifactory/api/npm/npm/:email=${ARTIFACTORY_USERNAME}
