[Desktop Entry]
Version=1.0
Type=Application
Name=gnome-terminal
Comment=
Exec=gnome-terminal
Icon=utilities-terminal
Path=
Terminal=false
StartupNotify=false
X-XFCE-Source=file:///home/shane/Desktop/gnome-shell.desktop
