alias port="sudo lsof -i"
alias spot="spotify"
alias :q="exit"
alias :e="ls -lFh"
alias psqlstart="postgres -D /usr/local/var/postgres"
alias vbox="vboxmanage"
alias gotonow="ntpdate -s time.nist.gov"
alias weather="curl wttr.in"
alias vim=nvim
alias vi=nvim
alias cat="pygmentize -g"
alias c="clear"

# Ruby/Rails
alias brspec="be rspec"
alias rbp="rails_best_practices"

# IP Helpers
alias extip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# GIT
alias gitup="git push --set-upstream origin"
alias gitpu="git push --set-upstream origin"

# Common aliases
alias l='ls -lFh'     #size,show type,human readable
alias lr='ls -tRFh'   #sorted by date,recursive,show type,human readable
alias lt='ls -ltFh'   #long list,sorted by date,show type,human readable
alias ll="ls -la"
alias la="ls -A"
alias ldot='ls -ld .*'
alias lS='ls -1FSsh'
alias lart='ls -1Fcart'
alias lrt='ls -1Fcrt'

alias zshrc='$EDITOR ~/.zshrc' # Quick access to the ~/.zshrc file

alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias t='tail -f'

alias dud='du -d 1 -h'
alias duf='du -sh *'
alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias h='history'
alias hrg="fc -El 0 | rg"
alias hfzf="fc -El 0 | fzf"
alias help='man'
alias p='ps -f'
alias sortnr='sort -n -r'
alias unexport='unset'

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

alias mux='tmuxinator'
alias mm='mux mission-control'

alias feserv='ssh logikcull-apps@lcub-staging-fe5000'
alias aux='ps aux | grep'
alias kruby='killall -9 ruby'
alias ki='kill -9'
alias kmail="kill $(ps aux | grep -E 'mailcatcher' | grep -v grep | awk '{print $2}')"

# Serverless
alias slsl='SLS_DEBUG=* serverless --verbose --stage=local'
alias slsd='SLS_DEBUG=* serverless --verbose --stage=dev'
alias slss='SLS_DEBUG=* serverless --verbose --stage=staging'
alias slsp='SLS_DEBUG=* serverless --verbose --stage=prod'

alias md2pdf='node /home/ssmith/Code/node/md2pdf/index.js'

alias open="nautilus ."
