export AWS_REGION=us-east-1
export DEV_BIN="$HOME/.local/devbin"
export EDITOR="$VISUAL"
export FZF_DEFAULT_COMMAND='rg --files --follow --glob "!.git/*" -uu'
export GOPATH=$HOME/Code/go
export GOROOT=/usr/local/go
export LANG=en_US.UTF-8
export NET=192.168.1
export NVM_DIR="$HOME/.nvm"
export PYENV_ROOT="$HOME/.pyenv"
export VISUAL=$(which nvim)
export VTE_VERSION="100" # https://github.com/neovim/neovim/issues/5990