export ANDROID_HOME=$HOME/Android/Sdk
export AWS_REGION=us-east-1
export BASE16_SHELL=$HOME/.config/base16-shell/
export BROWSER=firefox
export COMPLETION_WAITING_DOTS="true"
export DEV_BIN="$HOME/.local/devbin"
export EDITOR="$VISUAL"
export FZF_BASE="$HOME/Code/github.com/junegunn/fzf"
export FZF_DEFAULT_COMMAND='rg --files --follow --glob "!.git/*" -uu'
export GOPATH=$HOME/Code/go
export GOROOT=/usr/local/go
export LANG=en_US.UTF-8
export MANPAGER=$PAGER
export NET=192.168.1
export NVM_DIR="$HOME/.nvm"
export PAGER=nvimpager
export PYENV_ROOT="$HOME/.pyenv"
export SAM_CLI_TELEMETRY=0
export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
export TERMINAL=tilix
export VISUAL=$(which nvim)
export VTE_VERSION="100" # https://github.com/neovim/neovim/issues/5990
export ZSH=$HOME/.oh-my-zsh
export ZSH_CUSTOM=$HOME/.zsh_custom
export ZSH_THEME="intheloop.custom"
