alias composerdl="curl -sS https://getcomposer.org/installer | php"
alias dnsflush="dscacheutil -flushcache ; sudo killall -HUP mDNSResponder;"
alias symfcache="rm -rf app/cache/*"
alias port="sudo lsof -i"
alias ll="ls -la"
alias la="ls -A"
alias gitvoodoo="ssh-add -D; ssh-add ~/.ssh/id_rsa; git config user.email 'voodoogq@gmail.com';"
alias gitnerd="ssh-add -D; ssh-add ~/.ssh/id_rsa_nerdery; git config user.email 'ssmith+github@nerdery.com';"
alias mux="tmuxinator"
alias sas="ssh ssmith@shaneallensmith.com"
alias spec="rspec"
alias slack="node ~/bin/terminal-slack/main.js"
alias hangout="open -a /Applications/Google\ Chrome.app/ https://hangouts.google.com/hangouts/_/"
alias mfp="~/bin/mainframe-terminal/mfp"
alias spot="spotify"

# IP Helpers
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"

# Directory Traversal
alias .2="cd ../../"
alias .3="cd ../../../"
alias .4="cd ../../../../"
alias .5="cd ../../../../../"
