# Main Bin
export PATH="/usr/local/bin:$PATH"
# SBIN
export PATH="/usr/local/sbin:$PATH"

# Mac LS Colors
#http://superuser.com/questions/417805/how-to-configure-the-ansi-colors-of-the-command-line-terminal
export CLICOLOR=1
export LSCOLORS=ExfxBxDxCxEgEdxbxgxcad 

export VISUAL=vim
export EDITOR="$VISUAL"
